p {
    margin: 10px 0px 10px 0px;
}

html {
    background: white;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

/* Lets add an arrow after each link */
a:after {
    padding-left:2px; /* Add a little space between text and arrow */
    content: "\00bb"; /* Unicode hex for &raquo; */
}

aside li {list-style-type:none;}

article li { margin-left: 20px; }

div#history-scroll-list
{
    height:500px;
    overflow:auto;
    padding: 10px 10px 10px 20px;
}

div#history-scroll-bottom {
    height:10px;
}


* {
margin: 0;
padding: 0;
}

html {
font-family: 'Lato', sans-serif;
color: #444;
}
.center {
    width: 900px;
    margin: 0 auto;
}

header, header a {
    background: #2E75B6;
    color: white;
}

body header, body aside h4 {
    padding: 10px 10px 10px 20px;
}

body aside h4 {
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px 5px 15px;
}

body header {
    margin-bottom: 20px;
}

body footer {
    position: fixed;
    height: 20px;
    width: 900px;
    bottom: 0px;
}

#history-menu {
    width: 250px;
    float: right;
}


article {
    margin-right: 270px;
    padding: 20px;
    margin-bottom: 50px;
}

pre {
    margin: 10px;
}

code {
    background: white;
}
