p {
    margin: 15px 0px;
}

a {
    color: #2E75B6;
    text-decoration:none;
}

a:hover {
    text-shadow: 0px 0px 1px #2E75B6;
}

/* Lets add an arrow after each link */
a:after {
    padding-left:2px; /* Add a little space between text and arrow */
    content: "\00bb"; /* Unicode hex for &raquo; */
}

aside li { list-style-type:none; }

article li { margin-left: 20px; }

div#history-scroll-list
{
    height:500px;
    overflow:auto;
}


* {
margin: 0;
padding: 0;
}

html {
font-family: 'Lato', sans-serif;
color: #444;
}
.center {
    width: 1000px;
    margin: 0 auto;
}

header, header a {
    background: #2E75B6;
    color: white;
}

header a:hover {
    text-shadow: 0px 0px 10px white;
}

body header {
    padding: 10px 0px;
}

body aside h4 {
    margin-top: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

body aside .date {
    position: relative;
    font-size: 0.5em;
    top: -2px;
}

body header {
    margin-bottom: 40px;
}

#history-menu {
    width: 280px;
    float: right;
}


article {
    margin-right: 320px;
    margin-bottom: 50px;
}

h2 {
    float: left;
}

p.meta {
    position: relative;
    text-align: right;
    top: 8px;
    right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    border-bottom: 1px solid #eee;
}

pre {
    padding-left: 20px;
    margin: 20px 0px;
    border-left: 2px solid #bbb;
}

img {
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 4px #ddd;
}
